body {background-color:#111111;padding:3px;margin:0px;font-family:Verdana,Arial,Helvetica,sans-serif;} /* cceeff*/
body, p, td, div, span {font-size:15px;color: white;font-family:Verdana,Arial,Helvetica,sans-serif;}

h1, h2, h3, h4, h5 {margin-top:6px;margin-bottom:6px;font-family:Georgia,"Palatino Linotype","Times New Roman",Times,serif;}

form, submit, input {padding:4px;margin:2px;}
.autowidth {width:75%; height: 95%;}

hr {background-color:#00FF00;}

.submit{font-size:16px;padding:15px;margin:20px;}

a:link{color:#00FF00;text-decoration:underline;background-color:transparent;}
a:visited{color:#00CC00;text-decoration:underline;background-color:transparent;}
a:active{color:#BBFF00;background-color:transparent;}
a:hover{color:#FFFF00;text-decoration:underline;background-color:transparent;}

.sg20 {font-size:20px;}
.sg18 {font-size:18px;}
.sg16 {font-size:16px;}
.sg14 {font-size:14px;}
.sg13 {font-size:13px;}
.sg12 {font-size:12px;}
.sg11 {font-size:11px;}
.sg10 {font-size:10px;}
.sg9 {font-size:9px;}
.sg7 {font-size:7px;}

.sgl{text-align:left;}
.sgc{text-align:center;}
.sgr{text-align:right;}
.sgu{text-decoration:underline;}
.sgb{font-weight:bold;}
.sgvc{position:relative; top:50%; transform:translateY(-50%);} /* vertical centre */

.sggreen{color:#22FF22;background-color:#333333;}
.sgred{color:#FF2222;background-color:#333333;}
.sgblue{color:#87CEEB;background-color:#333333;}
.sgorange{color:#00FF00;background-color:#333333;}

.sgobc{align:center;}

.sgbgrow1{color:#000000; background-color:#CCCCCC;}
.sgbgrow2{color:#000000; background-color:#AAAAAA;}
.sgbgrow3{background-color:#555555;}

.sgbgrow11{color:#FFFFFF; background-color:#777777;}
.sgbgrow12{color:#FFFFFF; background-color:#555555;}
.sgbgrow13{background-color:#444444;}


.sgbgcolour0{background-color:#444444;}
.sgbgcolour1{background-color:#666666;}
.sgbgcolour2{background-color:#777777;}
.sgbgcolour3{background-color:#888888;}
.sgbgcolour4{background-color:#333333;}

.sgbgclickcolour1{background-color:#AAAA00;} /* yellow */
.sgbgclickcolour2{background-color:#00FF00;} /* orange */
.sgbgclickcolour3{background-color:#FF2200;} /* red-orange */
.sgbgclickcolour4{background-color:#006600;} /* medium green */

.sgphotobox{width:710px; margin-left:auto; margin-right:auto;}
.sgcenteredbox1{width:400px; margin-left:auto; margin-right:auto;}

.sgul{list-style-type:none;margin:20px;padding:0px;line-height:1.6em}
.sgul2{list-style-type:none;margin:20px;padding:0px;line-height:2.5em}

.sgh1{height:24px}

.sgmargin0{margin-top:20px; margin-bottom:20px; margin-left:3%; margin-right:3%;}
.sgmargin1{margin-top:20px; margin-bottom:20px; margin-left:10%; margin-right:10%;}
.sgmargin2{margin-top:20px; margin-bottom:20px; margin-left:15%; margin-right:15%;}
.sgmarginsauto{margin-left:auto; margin-right:auto;}

.sgbordertop{border-top:2px solid #666;}
.sgmargin10right{margin-right:10px; margin-bottom:2px;}
.sgpad30left{padding-left:30px;}
.sgpad30right{padding-right:30px;}

.sglineheightsmall{line-height: 1em}
.sglineheightnormal{line-height: 1.3em}
.sglineheightdouble{line-height: 2em}
.sglineheighttripple{line-height: 3em}

.sgfonts {font-family:Georgia,Verdana,Arial,Helvetica,sans-serif;}

.sgdiv{background-color:#444444; border:1px solid #00FF00;padding:15px;}
.sgdivred{color:#FF2222; background-color:#333333; border:1px solid #00FF00;padding:15px;}

.sgimgalign{vertical-align:middle;}
.sgtopalign{vertical-align:top;}
.sgmiddlealign{vertical-align:middle;}

.floatleft {float:left; margin-left:0;}
.floatright {float:right; margin-right:0;}
.floatstop {clear:both; display:block; height:1px; font-size:1px; line-height:1px;}

div.pagination {padding: 2px;margin: 2px;}
div.pagination a {padding: 1px 4px 1px 4px;margin: 2px;border: 1px solid #00FF00;text-decoration: none;color: #00FF00;}
div.pagination a:visited {border: 1px solid #DD9900;color: #DD9900;}
div.pagination a:hover, div.pagination a:active {border: 1px solid #ffaa00;color: #ffaa00;}
div.pagination span.current {padding: 1px 4px 1px 4px;margin: 2px;border: 1px solid #ff1100;font-weight: bold;background-color: #000099;color: #FFFFFF;}
div.pagination span.disabled {padding: 1px 4px 1px 4px;margin: 2px;border: 1px solid #EEEEEE;color: #DDDDDD;}


.calendar{border-style:groove;}
/*.calendar{text-color:#000000; border-style:groove;}*/
.calendar-cell{width:120px; height:80px; vertical-align:top;}
.calendar-cellspan{font-weight:normal;background-color:#669966;}
.calendar-thcell{width:120px;}
.calendar-cellnow{background-color:#888888;}
.calendar-cellnow2{background-color:#DDDDDD;}
.colour9bg{background-color:#222222;}
.colour10bg{background-color:#444444;}
.colour11bg{background-color:#CCCCCC;}
.colour12bg{background-color:#669966;}


/* used by forum, somehow, forgotten*/
.e{border:0px solid #ffffff;padding:1px;}
.i{border:0px solid #ffffff;}
.y4{position:fixed;top:5px;right:5px;width:385px;overflow:hidden;background-color:#6392D9;color:#ffffff;border:1px solid #ffffff;padding:7px;}